/* Logo Styles */
:root {
  --snow: #f6f1f1;
  --pacific-cayan: #afd3e2;
  --Cerulean: #146c94;
  --buenco-ice: 'Bruno Ace', cursive;
  --ubuntu: 'Ubuntu', sans-serif;
  --Prucian-blue: #0a364a;
}
.logo {
  font-family: 'Bruno Ace', cursive;
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
  color: #146c94;
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

/* Text Styles */
p,
span,
a {
  font-family: 'Ubuntu', sans-serif;
}

/* Link Styles */
a {
  text-decoration: none;
}

/* Button Styles */

/* Other Styles */
/* Add any other specific styles for your project here */
.Nav {
  padding: 2rem 3rem 0 3rem;
  background-color: var();
  display: flex;

  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.navlogo {
  font-family: var(--buenco-ice);
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--Cerulean);
}
.navlogo span {
  color: #19a7ce;
}
.NavLinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.NavLinks a {
  color: snow;
  font-size: 1.2rem;
  box-shadow: inset 0 0 0 0 #54b3d6;
  padding: 0.5rem 2rem;
  font-weight: 500;
  font-family: var(--ubuntu);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.NavLinks a:hover {
  box-shadow: inset 150px 0 0 0 #19a7ce;
  color: white;
}
.NavLinks button {
  width: 10rem;
  border-radius: 9px;

  background-color: #146c94;
}
.NavLinks .Login-button {
  color: #0a364a;

  font-weight: 600;
  background-color: var(--pacific-cayan);
  font-family: var(--ubuntu);
}
.Login-button:hover,
.Login-button:focus {
  background-color: var(--Prucian-blue);
  transform: translateY(-2px);

  box-shadow: 3px 3px 10px 0px var(--Prucian-blue);
}
.Hero {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: url(./assets/cubicBackgroundLight.png);
  height: 100vh;
  background-size: cover;
  flex-direction: row;
}
.right-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 500px;
}
.left-container {
  padding-left: 4rem;
  position: relative;
  width: 70%;
  overflow: hidden;
  height: 1000px;
}
.left-container h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #0a364a;
  position: absolute;
  top: 25%;
  left: 50px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio and cover the container */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.headding .headerSpan {
  color: var(--pacific-cayan);
}
.headding .headerSpan span {
  color: #0a364a;
}

.right-container img {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio and cover the container */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.left-container h1.active {
  opacity: 1;
}
.right-container img.active {
  opacity: 1;
}
.left-container .Hero-headding {
  color: var(--Prucian-blue);
}
.left-container .Hero-headding span {
  color: var(--Cerulean);
}
.About {
  height: 100vh;
  background-image: url(assets/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
