/* Logo Styles */
.logo {
  font-family: 'Bruno Ace', cursive;
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
  color: #146c94;
}

/* Body Styles */
body {
  background-color: #f6f1f1;
  color: black;
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #146c94;
}

/* Text Styles */
p,
span,
a {
  font-family: 'Ubuntu', sans-serif;
}

/* Link Styles */
a {
  color: #afd3e2;
  text-decoration: none;
}

a:hover {
  color: #146c94;
}

/* Button Styles */
.button {
  font-family: 'Ubuntu', sans-serif;
  background-color: #146c94;
  color: #f6f1f1;
  padding: 10px 20px;
  border-radius: 4px;
}

.button:hover {
  background-color: #afd3e2;
  color: #146c94;
}

/* Other Styles */
/* Add any other specific styles for your project here */
